<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-xs="6">
      <ion-item>
        <!-- <ion-label position="floating">MM/DD/YYYY</ion-label> -->
        <ion-datetime (ionChange)="changeDate($event)" displayFormat="YYYY-MM-DD" min="1994-03-14" max="2012-12-09" value="2019-09-22"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size-xs="6">
      <ion-button>
        <ion-button size="small">Add</ion-button>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
